{
 :deps {
   com.xtdb/xtdb-core {:mvn/version "1.24.1"}
   com.xtdb/xtdb-jdbc {:mvn/version "1.24.1"}
   org.postgresql/postgresql {:mvn/version "42.7.2"}
   com.zaxxer/HikariCP {:mvn/version "5.0.1"}
   org.slf4j/slf4j-simple {:mvn/version "1.7.36"}
 }
}